@use './mixins' as *;
@use './variables' as *;
@use './typography' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: avenir, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
// HEADER
.header{
    background-color: $primary-black;
    @include tablet{
        padding: 2% 0% 0% 2%;
    }
    @include desktop{
        padding-left: 3%;
    }
}
.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: left;
        padding: 0% 3%;
    }

    @include desktop{
        padding-left: 7%;
    }

    &__image{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        @include tablet{
            max-height: 20rem;
            max-width: 7.5rem;
            padding: 10% 0% 20% 0%;
        }
    }

    &__list{
    display: flex;
    list-style: none;
    width: 100%; 
    text-align: center;
    justify-content: space-evenly;
    color: $primary-white;
    @include subheader;
    @include tablet{
        @include tablet-body-copy;
        justify-content: unset;
        width: unset;

    }
    }   

    &__list-item{ 
    min-width: 50%;
    list-style: none;
    text-decoration: none;
    padding: 0 0 2% 0;
    color: $primary-white;
    @include tablet{
        min-width: unset;
        margin-left: 56%;
        padding: 10% 0% 20% 0%;
    }
    }
    &__list-item a{
        text-decoration: none;
        color: $primary-white;
    }
}

.active{
    border-bottom: 2px solid $primary-white;
    width: 100%;
    font-family: 'avenir-demi';
}

.inactive{
    color: $secondary-white;
}

// FOOTER

.footer{
    color: $primary-white;
    background-color: $primary-black;
    padding: 1rem;
    @include footer-copy;
    @include tablet{
        padding: 1rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop{
        padding: 3% 10%;
    }

    &__content-socials{
        @include tablet{
            @include tablet-footer-copy;
            display: flex;
            justify-content: space-between;
        }
    }

    &__header{
        padding: 24px 0 16px 0;
        @include page-section-header;
        @include tablet{
            @include tablet-section-header;
            padding: 4% 0% 2% 0%;
        }
    }

    &__content-socials-icons{
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding: 0 3% 0% 0;
        @include tablet{
            width: 25%;
            margin-right: 17%;
            flex-flow: wrap-reverse;
            justify-content: space-around;
        }
        @include desktop{
            justify-content: space-evenly;
            margin-right: 42%;
            position: relative;
            padding: 0% 3% 0% 0%;
        }
    }
    &__social-logo{
        @include tablet{
            height: 55%;
        }
    }

    &__image-2{
        display: none;
        @include tablet{
            display: unset;
            margin-right: 1%;
        }
    }
    &__managers-container{
        @include tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop{
            justify-content: unset;
        }
    }
    &__content-managers{
        margin: 5% 0;
        border-spacing: 1em;
        @include tablet{
            margin: 5% 3% 5% 0%;
        }
        @include desktop{
            margin: 2% 3% 5% 0%;
        }
    }
    &__manager-name{
        font-family: 'avenir-demi';
    }
    
    &__manager-position{
        font-family: 'avenir-demi';
        margin-bottom: 1rem;
    }

    &__manager-location{
        margin-bottom: 1rem;
    }

    &__address{
        margin-bottom: 1rem;
    }

    &__email{
        color: $primary-white;
        margin-top: 1rem;
    }

    &__image{
        margin: 10% 0 5% 0;
        @include tablet{
            display: none;
        }
    }

}
