@use './mixins' as *;
@use './variables' as *;
@use './typography' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
}

.nav-bar{
    background-color: $primary-black;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

    &__image{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    &__list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    }   

    &__list-item{ 
    list-style: none;
    text-decoration: none;
    color: $primary-white
    
    }

}
.active{
    border-bottom: 2px solid $primary-white;
}

footer{
    color: $primary-white;
    background-color: $primary-black;
}