// breakpoints 
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;
$breakpoint-xl-desktop: 120rem;

// theme colors
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;
$secondary-black: #000000;
$secondary-silver: #E1E1E1;
$secondary-white:#FAFAFA;

//text styles
$page-header-text: 1.5rem;
$section-header-text: 1.5rem;
$subheader-text: .875rem;
$body-copy-text: .8125rem;
$footer-copy-text: .8125rem;
$labels-buttons-text: .625rem;

