@use "./partials/globals" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;


.hero {
  background-image: url(/assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 18rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__title {
    color: $primary-white;
    display: flex;
    padding: 0 1rem;
    @include page-section-header;
    @include tablet{
      @include tablet-section-header
    }
  }
}

.about {
    margin: 1rem;

  &__title {
    padding: 1rem 0 1rem 0;
    @include page-section-header;
    @include tablet {
      padding: 3rem 0 2.25rem 0;
      @include tablet-section-header
    }
  }

  &__container{
    max-width: 100%;
    @include tablet{
      margin: 0 4rem;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__quote {
    padding-top: 1rem;
    font-family: 'avenir-demi';
    @include tablet{
      @include tablet-subheader;
      margin: 0 4rem;
    }
  }
}

.article{
    margin: 1rem;
    @include body-copy;

    &__title{
    margin: 1rem 0;
    @include subheader;
    @include tablet{
      @include tablet-subheader;
      margin: 2rem 4rem;
    }
    }

    &__container{
        margin: 1rem 0;
        @include tablet{
          display: flex;
          margin: 0;
        }
    }
    &__info{
      font-weight: 300;
      @include body-copy;
      @include tablet{
        @include tablet-body-copy;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 4rem;
      }
    }
}

.paragraph-one{
  margin: 0 0 1rem 0;
}

.gallery {
  padding: 1rem;
  background-color: $secondary-white;
  @include page-section-header;
  @include tablet{
    @include tablet-section-header;
    // margin: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__container{
    max-width: 100%;
  }

  &__photo {
    max-width: 100%;
    margin: 1% 0;
  }
}
