@font-face {
  font-family: "avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  background-color: #323232;
}
@media (min-width: 48rem) {
  .header {
    padding: 2% 0% 0% 2%;
  }
}
@media (min-width: 80rem) {
  .header {
    padding-left: 10%;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 48rem) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    padding: 0% 3%;
  }
}
.nav-bar__image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .nav-bar__image {
    max-height: 20rem;
    max-width: 7.5rem;
    padding: 10% 0% 20% 0%;
  }
}
.nav-bar__list {
  display: flex;
  list-style: none;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  color: #FFFFFF;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .nav-bar__list {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    justify-content: unset;
    width: unset;
  }
}
.nav-bar__list-item {
  min-width: 50%;
  list-style: none;
  text-decoration: none;
  padding: 0 0 2% 0;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .nav-bar__list-item {
    min-width: unset;
    margin-left: 56%;
    padding: 10% 0% 20% 0%;
  }
}
.nav-bar__list-item a {
  text-decoration: none;
  color: #FFFFFF;
}

.active {
  border-bottom: 2px solid #FFFFFF;
  width: 100%;
  font-family: "avenir-demi";
}

.inactive {
  color: #FAFAFA;
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .footer {
    padding: 1rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 3% 10%;
  }
}
@media (min-width: 48rem) {
  .footer__content-socials {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
}
.footer__header {
  padding: 24px 0 16px 0;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .footer__header {
    font-family: "avenir-demi";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 4% 0% 2% 0%;
  }
}
.footer__content-socials-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 0 3% 0% 0;
}
@media (min-width: 48rem) {
  .footer__content-socials-icons {
    width: 25%;
    margin-right: 17%;
    flex-flow: wrap-reverse;
    justify-content: space-around;
  }
}
@media (min-width: 80rem) {
  .footer__content-socials-icons {
    justify-content: space-evenly;
    margin-right: 42%;
    position: relative;
    padding: 0% 3% 0% 0%;
  }
}
@media (min-width: 48rem) {
  .footer__social-logo {
    height: 55%;
  }
}
.footer__image-2 {
  display: none;
}
@media (min-width: 48rem) {
  .footer__image-2 {
    display: unset;
    margin-right: 1%;
  }
}
@media (min-width: 48rem) {
  .footer__managers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 80rem) {
  .footer__managers-container {
    justify-content: unset;
  }
}
.footer__content-managers {
  margin: 5% 0;
  border-spacing: 1em;
}
@media (min-width: 48rem) {
  .footer__content-managers {
    margin: 5% 3% 5% 0%;
  }
}
@media (min-width: 80rem) {
  .footer__content-managers {
    margin: 2% 3% 5% 0%;
  }
}
.footer__manager-name {
  font-family: "avenir-demi";
}
.footer__manager-position {
  font-family: "avenir-demi";
  margin-bottom: 1rem;
}
.footer__manager-location {
  margin-bottom: 1rem;
}
.footer__address {
  margin-bottom: 1rem;
}
.footer__email {
  color: #FFFFFF;
  margin-top: 1rem;
}
.footer__image {
  margin: 10% 0 5% 0;
}
@media (min-width: 48rem) {
  .footer__image {
    display: none;
  }
}

.hero {
  background-color: #323232;
  opacity: 50%;
  position: relative;
  width: 100%;
  height: 18rem;
  max-height: 18rem;
  display: flex;
  align-items: center;
}
@media (min-width: 48rem) {
  .hero {
    max-height: 32rem;
    height: 32rem;
  }
}
@media (min-width: 80rem) {
  .hero {
    padding-left: 10%;
  }
}
.hero__image {
  background-image: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.hero__title {
  color: #FFFFFF;
  display: flex;
  position: relative;
  top: 50%;
  padding: 0 1rem;
  z-index: 1;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .hero__title {
    font-family: "avenir";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "avenir-demi";
  }
}

.about {
  margin: 1rem;
}
@media (min-width: 48rem) {
  .about {
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .about {
    padding: 0 10%;
  }
}
.about__title {
  padding: 1rem 0 1rem 0;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .about__title {
    padding: 3rem 0 2.25rem 0;
    font-family: "avenir-demi";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.about__container {
  max-width: 100%;
}
@media (min-width: 48rem) {
  .about__container {
    margin: 1% 9%;
  }
}
.about__image {
  max-width: 100%;
}
.about__quote {
  padding-top: 1rem;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__quote {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media (min-width: 80rem) {
  .about__quote {
    margin: 0 13% 0 0;
  }
}
.about__quote-author {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__quote-author {
    font-family: "avenir-demi";
    font-size: 1rem;
    margin: 1rem 0;
  }
}

.article {
  margin: 1rem 0;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.article__title {
  margin: 1rem 0;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 800;
}
@media (min-width: 48rem) {
  .article__title {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 7% 5% 2% 7%;
  }
}
.article__container {
  margin: 1rem 0;
}
@media (min-width: 48rem) {
  .article__container {
    display: flex;
    margin: 0 7%;
  }
}
.article__info {
  font-weight: 300;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .article__info {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 7% 3% 0%;
  }
}

.gallery {
  padding: 1rem;
  background-color: #FAFAFA;
}
@media (min-width: 48rem) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2.25rem 2.25rem 1rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .gallery {
    padding: 0 10%;
  }
}
.gallery__title {
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .gallery__title {
    font-family: "avenir-demi";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 4% 3% 2% 3%;
  }
}
@media (min-width: 80rem) {
  .gallery__title {
    padding: 5% 1% 2% 2%;
  }
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 48rem) {
  .gallery__container {
    padding: 2%;
  }
}
@media (min-width: 80rem) {
  .gallery__container {
    padding: 0;
  }
}
.gallery__photo {
  max-width: 100%;
  margin: 2%;
  width: 96%;
}
@media (min-width: 48rem) {
  .gallery__photo {
    width: 29%;
  }
}
@media (min-width: 80rem) {
  .gallery__photo {
    padding: 0;
  }
}/*# sourceMappingURL=bio.css.map */