@use "./partials/globals" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;


.hero {
  background-image: url(/assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 18rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__title {
    color: $primary-white;
    display: flex;
    padding: 0 1rem;
    @include page-section-header;
  }
}

.about {
    margin: 1rem;

  &__title {
    padding: 1rem 0 1rem 0;
    @include page-section-header;
  }

  &__container{
    max-width: 100%;
  }

  &__image {
    max-width: 100%;
  }

  &__quote {
    padding-top: 1rem;
    @include subheader;
  }
}

.article{
    margin: 1rem;
    @include body-copy;

    &__title{
    margin: 1rem 0;
    @include subheader;
    }

    &__container{
        margin: 1rem 0;
    }
    &__info{
      font-weight: 300;
      @include body-copy;
    }
}

.gallery {
  padding: 1rem;
  background-color: $secondary-white;
  @include page-section-header;
  &__container{
    max-width: 100%;
  }

  &__photo {
    max-width: 100%;
    margin: 1rem 0;
  }
}
