@font-face {
  font-family: "avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav-bar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 48rem) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
  }
}
.nav-bar__image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .nav-bar__image {
    max-height: 20rem;
    max-width: 7.5rem;
    margin-left: 3%;
  }
}
.nav-bar__list {
  display: flex;
  list-style: none;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  color: #FFFFFF;
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .nav-bar__list {
    justify-content: unset;
    width: unset;
  }
}
.nav-bar__list-item {
  min-width: 50%;
  list-style: none;
  text-decoration: none;
  padding: 0 0 2% 0;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .nav-bar__list-item {
    min-width: unset;
    margin-left: 25%;
    padding: 10% 0;
  }
}

.active {
  border-bottom: 2px solid #FFFFFF;
  width: 100%;
  font-family: "avenir-demi";
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__header {
  padding: 24px 0 16px 0;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.footer__content-socials-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 0 3% 4% 0;
}
.footer__content-managers {
  margin: 5% 0;
  border-spacing: 1em;
}
.footer__manager-name {
  font-weight: bold;
}
.footer__manager-position {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer__address {
  margin-bottom: 1rem;
}
.footer__email {
  color: #FFFFFF;
  margin-top: 1rem;
}
.footer__image {
  margin: 10% 0 5% 0;
}

.hero {
  background-image: url(/assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 18rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero__title {
  color: #FFFFFF;
  display: flex;
  padding: 0 1rem;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .hero__title {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.about {
  margin: 1rem;
}
.about__title {
  padding: 1rem 0 1rem 0;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .about__title {
    padding: 3rem 0 2.25rem 0;
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.about__container {
  max-width: 100%;
}
@media (min-width: 48rem) {
  .about__container {
    margin: 0 4rem;
  }
}
.about__image {
  max-width: 100%;
}
.about__quote {
  padding-top: 1rem;
  font-family: "avenir-demi";
}
@media (min-width: 48rem) {
  .about__quote {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0 4rem;
  }
}

.article {
  margin: 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.article__title {
  margin: 1rem 0;
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .article__title {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 2rem 4rem;
  }
}
.article__container {
  margin: 1rem 0;
}
@media (min-width: 48rem) {
  .article__container {
    display: flex;
    margin: 0;
  }
}
.article__info {
  font-weight: 300;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .article__info {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 4rem;
  }
}

.paragraph-one {
  margin: 0 0 1rem 0;
}

.gallery {
  padding: 1rem;
  background-color: #FAFAFA;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .gallery {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.gallery__container {
  max-width: 100%;
}
.gallery__photo {
  max-width: 100%;
  margin: 1% 0;
}/*# sourceMappingURL=bio.css.map */