@use "./partials/globals" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;


.hero{
  background-image: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 18rem;
  max-height: 18rem;
  display: flex;
  align-items: center;
  @include tablet{
    max-height: 32rem;
    height: 32rem;
  }
  
  &__title {
    color: $primary-white;
    // position: relative;
    // top: 50%;
    padding: 0 1rem;
    z-index: 3;
    @include page-section-header;
    @include tablet{
      @include tablet-page-header;
      font-family: 'avenir-demi';
    }
}
  &__overlay{
    background-color: $primary-black;
    position: absolute;
    opacity: 50%;
    height: 18rem;
    max-height: 18rem;
    width: 100%;
    @include tablet{
      max-height: 32rem;
      height: 32rem;
  }
}
}

.about {
    margin: 1rem;
    @include tablet{
      padding: 0 2.25rem;
    }
    @include desktop{
      padding: 0 10%;
    }
    

  &__title {
    padding: 1rem 0 1rem 0;
    @include page-section-header;
    @include tablet {
      padding: 3rem 0 2.25rem 0;
      @include tablet-section-header;
    }
  }

  &__container{
    max-width: 100%;
    @include tablet{
      margin: 1% 9%;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__quote {
    padding-top: 1rem;
    @include subheader;
    @include tablet{
      @include tablet-subheader;
    }
    @include desktop{
      margin: 0 13% 0 0;
    }
  }
  &__quote-author{
    @include subheader;
    @include tablet{
      font-family: 'avenir-demi';
      font-size: 1rem;
      margin: 1rem 0;
    }
  }
}

.article{
    margin: 1rem 0;
    @include body-copy;

    &__title{
    margin: 1rem 0;
    @include body-copy-bold;
    @include tablet{
      @include tablet-subheader;
      margin: 7% 5% 2% 7%;
    }
    }

    &__container{
        margin: 1rem 0;
        @include tablet{
          display: flex;
          margin: 0 7%;
        }
    }
    &__info{
      font-weight: 300;
      @include body-copy;
      @include tablet{
        @include tablet-body-copy;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 7% 3% 0%;
      }
    }
}

.gallery {
  padding: 1rem;
  background-color: $secondary-white;
  
  @include tablet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2.25rem 2.25rem 1rem 2.25rem;
  }

  @include desktop{
    padding: 0 10%;
  }
  
  &__title{
    @include page-section-header;
    @include tablet{
      @include tablet-section-header;
      padding: 4% 3% 2% 3%;
    }
    @include desktop{
      padding: 5% 1% 2% 2%;
    }
  }

  &__container{
    display: flex;
    flex-wrap: wrap;
    @include tablet{
      padding: 2%;
    }
    @include desktop{
      padding: 0;
    }
  }

  &__photo {
    max-width: 100%;
    margin: 2%;
    width: 96%;
    @include tablet{
      width: 29%;
    }
    @include desktop{
      padding: 0;
    }
  }
}

.comments{
@include page-section-header;
padding: 1rem;

@include tablet{
  @include tablet-section-header
}

&__title{
  font-weight: 800;
  padding: 1.5rem 0 1rem 0;
}
&__container{
  display: flex;
  padding: 1%;
}
&__image-container{
  padding: 12% 0;
}


&__image-photo{
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

&__container-form{
  color: $primary-silver;
  flex-grow: 1;
  padding: .75rem
}
&__name-label{
  display: flex;
  flex-direction: column;
  padding: .25rem;
  @include labels-buttons;
}
&__name-label-input{
  color: $primary-black;
  background-color: $secondary-white;
  border: solid 2px $secondary-silver;
  border-radius: .25rem;
  padding: .75rem;
}
&__comment-label{
  display: flex;
  flex-direction: column;
  padding: .25rem;
  @include labels-buttons;
}
&__comment-label-input{
  color: $primary-black;
  background-color: $secondary-white;
  border: solid 2px $secondary-silver;
  border-radius: .25rem;
  padding: .75rem;
}
&__button{
  color: $primary-white;
  background-color: $primary-black;
  height: 2.5rem;
  max-height: 2.5rem;
  width: 100%;
  border-radius: .25rem;
  
  @include tablet{
    min-width: 9.375rem;
    padding: 2rem;
  }
}

&__list{
  @include subheader;
  @include tablet{
    @include tablet-subheader;
  }
}

&__comment-container{
  padding: 1rem;
  border-bottom: solid 1px $secondary-silver;
}

&__comment-header{
  display: flex;
  
}

&__comment-name{
  font-family: 'avenir-demi';
}

&__comment-date{
  color: $primary-silver;
  

}

}