@font-face {
  font-family: "avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: avenir, Arial, Helvetica, sans-serif;
}

.header {
  background-color: #323232;
}
@media (min-width: 48rem) {
  .header {
    padding: 2% 0% 0% 2%;
  }
}
@media (min-width: 80rem) {
  .header {
    padding-left: 10%;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 48rem) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    padding: 0% 3%;
  }
}
.nav-bar__image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .nav-bar__image {
    max-height: 20rem;
    max-width: 7.5rem;
    padding: 10% 0% 20% 0%;
  }
}
.nav-bar__list {
  display: flex;
  list-style: none;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  color: #FFFFFF;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .nav-bar__list {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    justify-content: unset;
    width: unset;
  }
}
.nav-bar__list-item {
  min-width: 50%;
  list-style: none;
  text-decoration: none;
  padding: 0 0 2% 0;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .nav-bar__list-item {
    min-width: unset;
    margin-left: 56%;
    padding: 10% 0% 20% 0%;
  }
}
.nav-bar__list-item a {
  text-decoration: none;
  color: #FFFFFF;
}

.active {
  border-bottom: 2px solid #FFFFFF;
  width: 100%;
  font-family: "avenir-demi";
}

.inactive {
  color: #FAFAFA;
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  padding: 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .footer {
    padding: 1rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 3% 10%;
  }
}
@media (min-width: 48rem) {
  .footer__content-socials {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
}
.footer__header {
  padding: 24px 0 16px 0;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .footer__header {
    font-family: "avenir-demi";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 4% 0% 2% 0%;
  }
}
.footer__content-socials-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 0 3% 0% 0;
}
@media (min-width: 48rem) {
  .footer__content-socials-icons {
    width: 25%;
    margin-right: 17%;
    flex-flow: wrap-reverse;
    justify-content: space-around;
  }
}
@media (min-width: 80rem) {
  .footer__content-socials-icons {
    justify-content: space-evenly;
    margin-right: 42%;
    position: relative;
    padding: 0% 3% 0% 0%;
  }
}
@media (min-width: 48rem) {
  .footer__social-logo {
    height: 55%;
  }
}
.footer__image-2 {
  display: none;
}
@media (min-width: 48rem) {
  .footer__image-2 {
    display: unset;
    margin-right: 1%;
  }
}
@media (min-width: 48rem) {
  .footer__managers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 80rem) {
  .footer__managers-container {
    justify-content: unset;
  }
}
.footer__content-managers {
  margin: 5% 0;
  border-spacing: 1em;
}
@media (min-width: 48rem) {
  .footer__content-managers {
    margin: 5% 3% 5% 0%;
  }
}
@media (min-width: 80rem) {
  .footer__content-managers {
    margin: 2% 3% 5% 0%;
  }
}
.footer__manager-name {
  font-family: "avenir-demi";
}
.footer__manager-position {
  font-family: "avenir-demi";
  margin-bottom: 1rem;
}
.footer__manager-location {
  margin-bottom: 1rem;
}
.footer__address {
  margin-bottom: 1rem;
}
.footer__email {
  color: #FFFFFF;
  margin-top: 1rem;
}
.footer__image {
  margin: 10% 0 5% 0;
}
@media (min-width: 48rem) {
  .footer__image {
    display: none;
  }
}

.hero {
  background-image: url(/assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  max-height: 20rem;
}
@media (min-width: 48rem) {
  .hero {
    max-height: 32rem;
    height: 32rem;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .hero__container {
    flex-direction: column;
  }
}
@media (min-width: 80rem) {
  .hero__container {
    padding: 3rem 7rem;
    flex-direction: row;
  }
}
.hero__container-info {
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .hero__container-info {
    padding: 2rem 1rem;
  }
}
@media (min-width: 80rem) {
  .hero__container-info {
    width: 50%;
  }
}
@media (min-width: 80rem) {
  .hero__container-song {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
.hero__title {
  color: #FFFFFF;
  position: relative;
  top: 45%;
  padding: 0 1rem;
  z-index: 1;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .hero__title {
    font-family: "avenir";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "avenir-demi";
  }
}
.hero__overlay {
  background-color: #323232;
  position: absolute;
  opacity: 50%;
  height: 18rem;
  max-height: 18rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .hero__overlay {
    max-height: 32rem;
    height: 32rem;
  }
}
.hero__album-name {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #FFFFFF;
  position: relative;
  padding: 0 1rem;
  top: 45%;
  z-index: 1;
}
@media (min-width: 48rem) {
  .hero__album-name {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.hero__song {
  padding: 1rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 48rem) {
  .hero__song {
    width: 50%;
    padding-left: 2rem;
  }
}
@media (min-width: 80rem) {
  .hero__song {
    width: 90%;
    top: 50%;
    display: flex;
    justify-content: center;
  }
}

.shows {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 80rem) {
  .shows {
    display: flex;
    padding: 2rem 7rem;
    justify-content: flex-start;
  }
}
@media (min-width: 80rem) {
  .shows__container-main {
    margin-left: 6%;
    padding: 2rem 0;
    width: 75%;
  }
}
.shows__container-header {
  display: none;
}
@media (min-width: 48rem) {
  .shows__container-header {
    color: #AFAFAF;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }
}
@media (min-width: 80rem) {
  .shows__container-header {
    padding: 1rem 1rem 0 1rem;
  }
}
@media (min-width: 48rem) {
  .shows__container-header-label {
    width: 25%;
  }
}
@media (min-width: 48rem) {
  .shows__container-data {
    padding: 0 1rem 1rem 1rem;
  }
}
.shows__title {
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem 0;
  font-weight: 800;
}
@media (min-width: 48rem) {
  .shows__title {
    font-family: "avenir-demi";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 1.5rem 0 1rem 1rem;
  }
}
@media (min-width: 80rem) {
  .shows__title {
    padding: 2rem 3rem;
  }
}
.shows__card {
  border-bottom: solid 1px #E1E1E1;
  padding: 1rem 0 1rem 0;
  line-height: 2rem;
  cursor: pointer;
}
.shows__card:hover {
  background-color: #FAFAFA;
}
.shows__card.selected {
  background-color: #E1E1E1;
}
@media (min-width: 48rem) {
  .shows__card {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 80rem) {
  .shows__card {
    padding: 1rem 0 1rem 0;
  }
}
.shows__label {
  font-family: "avenir";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .shows__label {
    display: none;
  }
}
.shows__date {
  font-weight: 800;
}
@media (min-width: 48rem) {
  .shows__date {
    width: 25%;
  }
}
@media (min-width: 48rem) {
  .shows__venue {
    width: 25%;
  }
}
.shows__location {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .shows__location {
    width: 25%;
  }
}
.shows__button {
  color: #FFFFFF;
  background-color: #323232;
  height: 2.5rem;
  max-height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  font-family: "avenir-demi";
}
@media (min-width: 48rem) {
  .shows__button {
    max-width: 9.375rem;
  }
}
@media (min-width: 48rem) {
  .shows__button-hidden {
    visibility: hidden;
    max-width: 9.375rem;
    height: 2.5rem;
    max-height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    font-family: "avenir-demi";
  }
}/*# sourceMappingURL=shows.css.map */