@use "./partials/globals" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  background-image: url(/assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 18rem;
  max-height: 18rem;
  // display: flex;
  // align-items: center;
  // flex-direction: row;
  @include tablet {
    max-height: 32rem;
    height: 32rem;
  }

  &__container{
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: $primary-white;
    position: relative;
    top: 45%;
    padding: 0 1rem;
    z-index: 1;
    @include page-section-header;
    @include tablet {
      @include tablet-page-header;
      font-family: "avenir-demi";
    }
  }
  &__overlay {
    background-color: $primary-black;
    position: absolute;
    opacity: 50%;
    height: 18rem;
    max-height: 18rem;
    width: 100%;
    @include tablet {
      max-height: 32rem;
      height: 32rem;
    }
  }
  &__album-name{
    @include subheader;
    color: $primary-white;
    position: relative;
    padding: 0 1rem;
    top: 45%;
    z-index: 1;
  }

  &__song{
    position: relative;
    z-index: 1;
  }
  
}

.shows{
  padding: 1.5rem 1rem 1rem 1rem;
  
  &__title{
    @include page-section-header;
    font-weight: 800;
  }
}
  
